.cardsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}
.carded {
    background: whitesmoke;
    margin:20px;
    flex:1;
    padding: 0px;
    min-width: 300px;
    box-shadow: 5px 5px 7px grey;
    text-align:center;
}
.orange{
    background-color: orange;
    width:100%;
    padding: 5px;
    color:white;
}
.bottom{
    position: relative;
    bottom:0;
    left: 0;
    right:0;
    background-color: black;
    color: white;
    padding:5px 5px 0px 5px;
    font-size:16px;
}
.cardimg{
    overflow: hidden;
    height:200px;
    margin: auto;
    padding:0px;
    background-color:black;
}
.cardimg :hover{
    opacity:.89
}

.cardoverflowing{
    width:106%;
    height:200px;
}

.overflow {
    padding: 20px;
}
a :hover{
    color: #e05e00;
}
@media only screen and (max-width: 1000px) {
    .card {
      min-width: 270px;
    }
    
    } 


    @-moz-keyframes spin {
        from { -moz-transform: rotate(0deg); }
        to { -moz-transform: rotate(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: rotate(0deg); }
        to { -webkit-transform: rotate(360deg); }
    }
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }