.about-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .about-content img{
      width:100%;
      max-width: 300px;
    padding:20px;
    margin: auto;
    border-radius: 50%;

  }