@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400&display=swap');
/*remove inherent coding*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*roots*/
:root {
  --orange:#ff8d0a;
  --darkorange:#e05e00;
  } 

/* general*/
body {
  font-family: 'Open Sans', 'Gill Sans', sans-serif;
  line-height: 1.4;
  font-weight: normal;
  
}

p {
  padding-bottom:10px;
  font-weight: 400;
  font-size: calc(.7em + .1vw);
}
h1 {
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--orange);
  font-size: calc(1.2em + 1vw);
  padding-bottom: 15px;
}
h2 {
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--orange);
  font-size: calc(1.0em + 1vw);
  font-weight: 400;
}
h3 {
  font-family: 'Open Sans', 'Gill Sans', sans-serif;
  font-size: 24px;
}
h4 {
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--orange);
  font-size: calc(14px + 1vmin);
  font-weight: 500;
}
button {
  font-size: calc(14px + 1vmin);
  font-weight: 400; 
  padding: 10px 20px;
  color: white;
  background: var(--darkorange); 
  border: none;
  border-radius: 5px;
  margin:5px 0px;
}
button:hover {
  font-weight: 400; 
  padding: 10px 20px;
  color: white;
  background: var(--orange); 
  border: none;
  border-radius: 3px;
}

main {
  margin-bottom:80px;
}
.center {
  padding:0 20px;
}

.background {
  padding: 30px;
  height:100%;
}

.background-box {
  background: rgba(250, 250, 250, .8);
  color: black;
  padding: 30px;
}

.pad {
  padding:20px 20px 20px 20px;
}
.padlr {
  padding: 0px 40px 0px 40px;
}
.padtb {
  padding: 20px 0px;
}
.pad-l {
  padding-left: 10px;
}


.w-6 {
  flex:1;
  min-width:250px;
}
.w-9 {
  flex:2;
  min-width:250px;
}

 @media only screen and (max-width: 1000px) {
.w-9 {
  flex: 1;
}

.padlr {
  padding: 0px 20px 0px 20px;
}
.background {
  padding: 10px;
}
.background-box {
  padding: 10px;
}
} 

/* 
------------------------------ */

.base {
  background-image: url('./assets/images/header-bg.jpg');
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(14px + 1vmin);
  width:100%;
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
