@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;700&display=swap');

/*remove inherent coding*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*roots*/
:root {
  --orange:#ff8d0a;
  --darkorange:#e05e00;
  } 

/* general*/
body {
  font-family: 'Open Sans', 'Gill Sans', sans-serif;
  line-height: 1.3;
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--orange);
  font-size: 44px;
}
h2 {
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--orange);
  font-size: 40px;
  font-weight: 400;
}
h3 {
  font-family: 'Open Sans', 'Gill Sans', sans-serif;
  font-size: 24px;
}
h4 {
  font-family: 'Barlow Condensed', sans-serif;
  color: var(--orange);
  font-size: 16px;
  font-weight: 400;
}

button {
  font-size: calc(14px + 1vmin);
  font-weight: 400; 
  padding: 10px 20px;
  color: white;
  background: var(--orange); 
  border: none;
  border-radius: 3px;
}
button:hover {
  font-weight: 400; 
  padding: 10px 20px;
  color: white;
  background: var(--darkorange); 
  border: none;
  border-radius: 3px;
}

.center {
  padding:0 20px;
}

.background {
  padding: 30px;
  height:100%;
}

.background-box {
  background: rgba(250, 250, 250, .8);
  color: black;
  padding: 20px;
}

.pad {
  padding:20px 20px 20px 20px;
}

.w-6 {
  flex:1;
  min-width:250px;
}
.w-9 {
  flex:2;
  min-width:250px;
}

 @media only screen and (max-width: 1000px) {
.w-9 {
  flex: 1;
}
} 

/* 
------------------------------ */

.base {
  background-image: url('./assets/images/header-bg.jpg');
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(14px + 1vmin);
}

.App-link {
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
